<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="LogFile" xsi:type="File" fileName="LogFile.txt" />
		<target name="LogConsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="LogConsole" />
		<logger name="*" minlevel="Debug" writeTo="LogFile" />
	</rules>
</nlog>