<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE packages [
	<!ELEMENT packages (package*)>
	<!ELEMENT package EMPTY>
	<!ATTLIST package id CDATA #REQUIRED>
	<!ATTLIST package version CDATA #REQUIRED>
	<!ATTLIST package targetFramework CDATA #REQUIRED>
	<!ATTLIST package developmentDependency CDATA #IMPLIED>
]>
<packages>
  <package id="NLog" version="5.0.4" targetFramework="net452" />
  <package id="NLog.Schema" version="5.0.4" targetFramework="net452" />
</packages>